body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.share-btn{
    text-decoration: none;
}
#userPic, #friend-picture{
    max-width: 100px;
    height: 50px;
}
.main {
    margin-top: 20px;
}
.product-img {
    float:left;
    margin-right: 20px;
    width: 300px;
    box-shadow: 2px 2px 10px #888;

}
.share {
    margin-top: 20px;
    background-color: linen;
    padding: 10px;
    border: 1px dashed darkblue;
}
.share .action-text {
    padding-bottom: 10px;
    display: block;
}
.main h2, .main h4 {
    margin-top: 0;
    margin-bottom: 10px;
}
hr{
    border: 0;
    border-top: 1px solid #eee;
}

#friend-welcome-div{
    background-color: rgb(225, 225, 225);
}

#hint-detail {
    display: none;
}
.hint {
    display: inline-block;
    margin: 0;
    color: grey;
    font-size: 12px;
}
.hint:hover > #hint-detail {
    display: inline-block !important;
}